
@model Department
@{
    ViewData["Title"] = "New";
}

<h1>New</h1>
<!--Req Get - url:/Department/SaveNew?Name=&ManagerName=-->
<form method="post" action="/Department/SaveNew">
    <div>
        <label>Name</label>
        <input class="form form-control" name="Name" value="@Model?.Name" type="text" id="Name" />
    </div>
    <div>
        <label>Manager Name</label>
        <input class="form form-control" name="ManagerName" required value="@Model?.ManagerName" type="text" id="ManagerName" />
    </div>
    <input type="submit" value="Create" class="btn btn-success" />
</form>
<a href="/Department/index">Back To List</a>